<template>
  <v-app-bar
    app
    color="dark"
    dark
    >
    <v-row>
      <v-spacer></v-spacer>
    <v-col cols="4">
        &lt; Eric Monné Mesalles />
      </v-col>
      <v-spacer></v-spacer>
    <v-col cols="4">
  <v-navigation
  color="teal"
  >
  <v-btn flat>
    <span>Experiencia</span>

  </v-btn>

  <v-btn>
    <span>Projectes</span>
  </v-btn>

  <v-btn>
    <span>Contacte</span>
  </v-btn>
</v-navigation>
</v-col>
</v-row>
</v-app-bar>
</template>
<script>
export default {
  name: "",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
</style>
