<template>
  <v-container>
    <v-row class="text-center" color="red">
      <v-col cols="12">
        <!-- <v-timeline>
          <v-timeline-item class="text-left">timeline item</v-timeline-item>
          <v-timeline-item class="text-right">
            timeline idtem
          </v-timeline-item>
          <v-timeline-item>timeline item</v-timeline-item>
        </v-timeline> -->
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({

    }),
  }
</script>
