<template>
  <v-row>
    <v-col>

    </v-col>
    <v-col>
      
    </v-col>
    <v-col>

    </v-col>

  </v-row>
</template>
<script>
export default {
  name: "",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
</style>
