<template>
  <v-app>
  <NavBar/>

    <v-main>
      <HelloWorld/>
    </v-main>

    <Footer/>
  </v-app>
</template>

<script>
import HelloWorld from './views/HelloWorld';
import Footer from './helpers/footer';
import NavBar from './helpers/navBar';

export default {
  name: 'App',

  components: {
    HelloWorld,
    Footer,
    NavBar
  },

  data: () => ({
    //
  }),
};
</script>
